
<div style="width: 445px;">
	<h3 style="margin-top: 0px;"> Some Advice </h3>
	<p>
		The first step in pretty much any coding project is to try to understand what you're trying to do
		on a general, structural level - What is the code supposed to do? What functionalities are required to make it happen? 
		<br> <br>
		Once you have a still rough, but somewhat formed idea, the next step is to try to figure out
		how to represent the functionalities needed in Python (or another language you may be using). 
		<br> <br>
		Thinking, googling and trial and error are the main
		ingredients to this process. In many ways coding something is a process of sassing things out, tinkering
		and adjusting as you go along.
	</p>

	<div style="font-size: 16px; margin-top: 36px;"> 
		<span style="float: right;">
			<%= link_to "< BACK", functions_path, class: "to_practice_btn" %> 
			<%= link_to "NEXT LESSON >", practice_project_one_path, style: "margin-right: 4px;", class: "to_practice_btn" %>
		</span>
	</div>
</div>
