
<iframe width="760" height="415" style="border: 3px #C3C3C3 solid;" src="https://www.youtube.com/embed/kehRR5eIguI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<br> <br>

<div> 
	<span class="vid_title"> 
		5. Comments
	</span>
	<span style="float: right;">
		<%= link_to "< Back", packages_preview_path, class: "to_practice_btn" %> 
		<%= link_to "Next Lesson >", practice_comments_path, class: "to_practice_btn" %>
	</span>
	<p class="vid_description"> Comments are parts of a program that don't get executed when the program is run. As a communication tool however they are absolutely critical to the practice of writing code. </p>
</div>
