
<div style="width: 300px;">
	<h3 style="margin-top: 0px;"> 13. Dictionaries </h3>
	<p>
		We're currently updating our tutorial on Dictionaries in Python. <br> <br>
		Meanwhile, please watch this video by the very competent YK Sugi:
		<%= link_to "Dictionaries in Python - Tutorial", "https://www.youtube.com/watch?v=ZEZdys-fHDw", target: "_blank" %>
	</p>

	<div style="font-size: 16px; margin-top: 36px;"> 
		<span style="float: right;">
			<%= link_to "< BACK", practice_for_loops_path, class: "to_practice_btn" %> 
			<%= link_to "NEXT LESSON >", practice_dictionaries_path, style: "margin-right: 4px;", class: "to_practice_btn" %>
		</span>
	</div>
</div>
