<p> Frequently Asked Questions </p>

<p> What will the online classes cover? </p>
<p> There is no set curriculum - the classes are designed to help you progress at your preferred pace.
For most students, the first 8-10 weeks are dedicated to completing the contents of this online course to build a strong understanding of the Python basics. 
Afterwards, your tutor will help you select and complete actual Python projects that you’ll find useful and interesting to build. </p>

<p> How much does it cost? </p>
<p> We charge £12.95 per week, billed monthly. 
This includes your weekly online class and the option of contacting your tutor with questions if you need more support during the week (we aim to respond within 24 hours). 
You are free to cancel your subscription any time without any charges. </p>

<p> I can’t attend class this week, what do I do? </p>
<p> Not a problem! Just let your tutor know and you won’t be charged for the week. </p>

<p> How big are the online classes? </p>
<p> Each session has a maximum of four students.  </p>

<p> What will I be able to do by the end of the Codegates programme? </p>
<p> The Codegates programme is here to help you become a confident user of Python. As a minimum, you will be able to:
Demonstrate an understanding of essential coding concepts 
Apply those concepts to building basic Python programmes 
Navigate available online Python resources
We will also set you up with your own GitHub account to display your completed projects - a valuable addition to any CV! </p>

<p> I know coding is important, but why should I learn Python? </p>

<p> I already know how to code, is this course for me?
This course is optimised for those with little to no experience in coding. If you already know Python or another language, you may find a course for intermediate or advanced programmers more beneficial. </p>

<p> What if I still have questions? </p>
<p> Don’t hesitate to Contact a Tutor if you have any additional questions - we’ll get back to you as soon as possible! </p>
