
<p style="background-color: #F8E6BF;">
	<strong> Teacher's Note </strong> <br>
	So far you've seen different types of functions that come with the Python language itself. Examples include built-in functions like len() or print() or functions that can be used on strings, lists or dictionaries like let's say [1, 2, 3, 4].remove(1) for instance.
	However on top of providing you with such functionalities directly Python (and any other of the widely used programming languages) also provides you with the ability to define your own functions and then, once you've defined them, use them in different places throughout your codebase.
	This is the topic that YK will explain in the tutorial below. 
	<br> <br>
	I would like to add that this topic of defining and using your own functions is one that pretty much anyone needs
	to engage with at least a few times before it really clicks and sinks in. I would recommend you firstly aim to get a rough understanding what it is about and how to do it and then gradually try to use the technique in the next code projects you'll be working on.
	In this way you won't only understand how to do it, but also - and very importantly - what role this technique of defining and using your own functions plays in the overall process of working on code.
	<br> <br>
	As usual I'd like to point out that YK is not directly affiliated with Codegates, but a very good teacher whom you should follow on Youtube if you want to. Enjoy!
</p>

<iframe width="760" height="415" src="https://www.youtube.com/embed/NSbOtYzIQI0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<br> <br>

<div> 
	<span class="vid_title"> 
		Interlude - Functions
	</span>
	<span style="float: right;">
		<%= link_to "< BACK", practice_project_two_path, class: "to_practice_btn" %> 
		<%= link_to "NEXT LESSON >", practice_project_three_path, class: "to_practice_btn" %>
	</span>
</div>
