
<p style="background-color: #F8E6BF;">
	As we're currently updating our own tutorial on this topic, the tutorial below is by YK Sugi who's not affiliated with Codegates. At any rate YK is a good teacher and we recommend you follow his channel if you want to.
</p>

<iframe width="760" height="415" src="https://www.youtube.com/embed/AWek49wXGzI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<br> <br>

<div> 
	<span class="vid_title"> 
		9. If-Statements
	</span>
	<span style="float: right;">
		<%= link_to "< BACK", practice_lists_path, class: "to_practice_btn" %> 
		<%= link_to "NEXT LESSON >", practice_if_statements_path, class: "to_practice_btn" %>
	</span>
</div>
