
<div style="width: 300px;">
	<h3 style="margin-top: 0px;"> 11. If-Statements </h3>
	<p>
		We're currently updating our tutorial on If-Statements in Python. <br> <br>
		Meanwhile, please watch this video by the very competent YK Sugi:
		<%= link_to "If-Statements in Python - Tutorial", "https://www.youtube.com/watch?v=AWek49wXGzI", target: "_blank" %>
	</p>

	<div style="font-size: 16px; margin-top: 36px;"> 
		<span style="float: right;">
			<%= link_to "< BACK", lists_path, class: "to_practice_btn" %> 
			<%= link_to "NEXT LESSON >", for_loops_path, style: "margin-right: 4px;", class: "to_practice_btn" %>
		</span>
	</div>
</div>
