
<div style="font-size: 15px; width: 520px;">

	<h2 style="margin-top: 0px; font-size: 22px;"> 
		Learn Basic Coding in Python.
	</h2>	
	
	<p>
		This course is designed to take you from knowing no or little coding to being able
		to work on your own projects using the Python programming language.
		<br> <br>
		On the left hand you can see an overview of the individual lessons. There are 12 topics that cover the
		essential basics of Python. Each one is a video of roughly 10 minutes length followed by a practice exercise.
		<br> <br>
		After the basics there is a series of practice projects. There are 10 such practice projects overall. They are
		conceived to be interesting, real-world sort of applications. There is no need to do all of them, just enough
		to start feeling comfortable with the process of writing code.
		<br> <br>
		Once you've reached that stage we strongly recommend you start work on an actual project that you actually want to code since
		after all that's what coding is fundamentally about - building new stuff.
		<br> <br>
		The first lesson will introduce Repl.it - an awesome website that will allow you to write real code in your browser and execute it.
 		Happy coding!
		<br> <br>
		<strong> Online Classes </strong> <br>
		In a similar spirit to the weekly Yoga/Spanish/Piano classes that people often take, we offer online coding classes in the evenings (8 students max). The first class is always a free trial, then we charge £12.50 per class.
  	    You can <%= link_to "join a trial class here", "https://calendly.com/coding_classes/times", target: "_blank" %> if you like.
 
		<!--
		<br> <br>
		Participating will
		also mean you can use the "Ask Tutor" button in the header when you need to and your exercise submission will be checked and commented on by a teacher.
		-->

		<div style="margin-top: 36px;"> 
		<span style="float: right;">
			<%= link_to "START >>", repl_it_path, class: "to_practice_btn", style: "border: 2px solid #BABABA; padding: 10px 32px;" %>
		</span>
		</div>


		<!--
		<strong> Codegates Students </strong> <br> <br>
		If you're a Codegates student you can use the "Ask a Tutor" button to
		pose a question to your tutor, you're exercise submissions will be commented on
		and you're free to join one of our evening online classes per week (8 students max).
		<br> <br>
		If you're interested in becoming a codegates student join one of our online
		classes for free to have a first class and get an intro.
		-->

		<!--
		It is not intended to turn you into a full-fledged software engineer,
		but rather to teach you enough so you can use Python for your own purposes (and pleasure).
 		<br> <br>  
		On the left, you can see the individual lessons. Each one covers one important aspect of Python coding. And most are followed
		by an exercise set.
 		<br> <br>  
		The first lesson will introduce Repl.it - an awesome website that will allow you to write real code in your browser.
 		<br> <br>  
 		Happy coding!
 		-->
	</p>
	

</div>
		

	<!--
	<p>
	- If you like to do the exercises (which we recommend) you need a free account at Repl.it, which is an amazing website that we're going to use to write code and that we'll introduce in the next (first) lesson. 
	</p>
	-->

	<!--
	<p> - If you want to do the exercises on the "practice" page (which we recommend), you will need to create your own free account at Repl.it (which we recommend) </p>
	-->

	<!--
	<p> -  Our evening classes are on each day of the week, 18.00-19.00 and 19.00-20.00 UK-time. </p>
	-->

	<!--
	<p> 
		This course is designed to teach you those parts of the Python programming language that are strictly necessary for you to start work on a project of your own. That is our goal here. We are not aiming to teach you everything there is to know about Python. Instead we believe that in programming you learn the most by actually working on actual projects that interest you. This means that our first task is to focus on mastering those parts of Python that are necessary to start doing so - the minimum to be dangerous so to speak. Of course you'll learn a lot more afterwards as well (learning is a continuous part of programming), but first things first. 
	</p>
	<br>
	-->






		<!--
		<br> <br>
		<span style="text-decoration: underline;"> Repl.it </span> <br>
		In the first "lesson" we'll look at Repl.it, which will be our place for writing and playing with code. We're using Repl.it for this rather than one of the numerous alternatives, because it's insanely easy to get started with and will eventually allow your tutor to easily work with you on the same piece of code (like two people writing in the same Google-Doc). 
		<br> <br>
		<span style="text-decoration: underline;">  Lessons and Exercises </span> <br>
		Then we'll dive into Python itself. Each "lesson" deals with one practically important topic in a relatively concise manner (the vast majority of video tutorials being 8-12 minutes long). Each lesson is then followed by a small set of practice exercises, which are not conceived to be brain-wrackingly hard, but rather to be an easy opportunity for you to reiterate the concept that you've just been introduced to. Repl.it will moreover allow you to submit your exercise code directly to your tutor, who will then be able to send you feedback. Similarly there's a large "Ask your tutor" field on the page of each lesson, which you can always use to easily ask a question.
		<br> <br>
		<span style="text-decoration: underline;"> Co-coding Evenings </span> <br>
		Co-coding evenings are online classes that you can join when it suits you in order to work on this course or on your project. They take place every Monday, Wednesday and Friday between 19.00-21.30 UK-time. 
		<br> <br>
		During Co-coding evenings you mostly work by yourself whilst at least one tutor is present. That tutor "goes around" and drops in periodically on each student to see whether you need some help. 
		Each student is free to join one co-coding evening per week and usually students choose one specific day as their default (e.g. every Thursday). Should your default day not work in any particular week you can easily adjust and attend another evening that week. Obviously you are not inherently obligated to attend one co-coding evening every week, but by and large we expect most students to attend one co-coding evening during most weeks. Your tutor will also be on hand to lightly nudge you in that direction.
		-->

		<!--
		In our experience a good "policy" is to aim at joining one co-coding evening a week to make sure you keep progressing and maintain momentum and motivation. 
		-->

		<!--
		<br> <br>
		<span style="text-decoration: underline;"> Personal Projects </span> <br>
		Once you're done with the basics, which will take roughly 8-12 hours of concentrated work overall, your tutor will help you get started with your first real coding project. This might start with a conversation about what you may be interested in creating or whether there maybe something in your day-to-day work that Python could help with. This will help to make sure you choose a starting point for your project that is relevant, realistic and interesting.
		<br> <br>
		Your tutor will then be your guide throughout that project, getting you set up, providing direction, guidance and selective technical support. While working on a project we strongly recommend sticking with the same "policy" of attending one co-coding evening during most weeks to keep building your coding knowledge and confidence. But for now it's time to check out Repl.it and get going with some Python :)
		<br> <br>
		Happy Coding!
		-->

	<!--
	<p> A quick intro to the Codegates Python course. I'll briefly talk about what we're going to cover, our approach to it and mention one or two learning tips based on our experience of teaching coding. </p>
	-->