
<iframe width="760" height="415" src="https://www.youtube.com/embed/kehRR5eIguI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<br> <br>

<div style="font-size: 16px;"> 
	<span style="background-color: orange;"> 
		Comments in Python and Programming
	</span>

	<span style="float: right;">
		<%= link_to "BACK", less_five_path, style: "margin-right: 4px;" %>
		<%= link_to "NEXT", less_seven_path, style: "margin-right: 4px;" %>
	</span>
</div>


