
<iframe width="760" height="415" style="border: 3px #C3C3C3 solid;" src="https://www.youtube.com/embed/7xaR8XkK9Ro" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<br> <br>

<div style="font-size: 16px;"> 
	<span style="background-color: orange; font-weight: bold;"> 
		Intro to Course | Any questions? Ask your Tutor below.
	</span>

	<span style="float: right;">
		<%= link_to "NEXT", less_two_path, style: "margin-right: 4px;" %>
	</span>
</div>


