
<iframe width="760" height="415" src="https://www.youtube.com/embed/JqgdKvik7R4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<br> <br>

<span id="" style="background-color: orange; font-size: 16px;"> Intro to Repl.it & Getting ready to play with code </span>

<!--
<strong> DIY </strong>
<br> <br>
Go to the repl.it website and create your own account there. Make a "Python Repl" so you can write some Python
code in it and run it. Type out the "Hello World" program shown in the video above and run it.
<br> <br>
-->
