
<iframe width="760" height="415" style="border: 3px #C3C3C3 solid;" src="https://www.youtube.com/embed/BVOJS5fkcbA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<br> <br>

<div> 
	<span class="vid_title"> 
		8. Numbers
	</span>
	<span style="float: right;">
		<%= link_to "< BACK", practice_variables_path, class: "to_practice_btn" %> 
		<%= link_to "NEXT LESSON >", case_study_one_path, class: "to_practice_btn" %>
	</span>
	<p class="vid_description"> For the most part numbers in Python behave as you would expect them to. In this video we'll briefly cover their basics. </p>
</div>
