
<iframe width="760" height="415" style="border: 3px #C3C3C3 solid;" src="https://www.youtube.com/embed/mSausM4Xh2k" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<br> <br>

<div> 
	<span class="vid_title"> 
		4. Packages (Preview)
	</span>
	<span style="float: right;">
		<%= link_to "< BACK", practice_strings_path, class: "to_practice_btn" %> 
		<%= link_to "NEXT LESSON >", comments_path, class: "to_practice_btn" %>
	</span>
	<p class="vid_description"> By importing packages into your programme you can easily gain access to a large variety of practical
		functionalities. In that way knowing how to use packages effectively can often make the difference between you knowing the basics of a language and you being able to actually create something useful with it. This is a quick preview into the world of packages.
	</p>
</div>
