
<div style="font-size: 16px;">

	<span style="font-weight: bold;"> 
		Getting Started - Quick Introduction
	</span>

	<p> 
		This course is designed to teach you those parts of the Python programming language that are strictly necessary for you to start work on a project of your own. That is our goal here. We are not aiming to teach you everything there is to know about Python. Instead we believe that in programming you learn the most by actually working on actual projects that interest you. Which means our first task here is to convey to you those parts of Python that are essential to doing so. Of course you will learn a lot more afterwards as well (in programming learning is a continuous process), but first things first. 
		<br> <br>
		In the next "lesson" we are going to look at Repl.it, which will be our place for writing and playing with code. We're using Repl.it rather than one of the numerous alternatives, because it's insanely easy to set up and will eventually allow your tutor to work together with you on the same piece of code (like two people writing in the same Google-Doc). 
		<br> <br>
		Then we'll dive right into Python. Each "lesson" deals with one important topic in a relatively concise manner (each video tutorial is roughly between 8-12 minutes, never longer) and each lesson is followed by a small set of practice exercises. These exercises are not conceived to be brain-wrackingly hard, but rather to be an easy opportunity for you to practically reiterate the concept that you've just been introduced to. Repl.it will also allow you to submit the code you write in such a way that it will directly be forwarded to your tutor, who will then be able to comment on it, if appropriate. Similarly there's a large "Ask your tutor" field on the web page of each lesson, which you can always use to directly ask a question.
		<br> <br>
		Co-coding evenings, which are online classes that you can join when it suits you in order to work on the basics course or your project and request help if needed, take place every Monday, Wednesday and Friday of every week, 19.00-21.30 UK-time. At least one tutor will be online during each co-coding evening.
		In our experience a good policy is to aim at joining one co-coding evening a week to ensure some progress each week, which in our experience is important to maintain momentum and motivation. Your tutor will follow up with you and nudge you lightly to stick to the "one-a-week-strategy".
		<br> <br>
		Once you're through with the basics, which will take roughly 6-10 hours of concentrated work overall, your tutor will help you get started with a project. Even before you finish the basics he/she will ask you what sort of thing you maybe interested in coding or whether there maybe something in your usual every-day work that programming could help with, in order to figure out an appropriate starting point for your project. Your tutor will then help you throughout that project, getting you set up in the first place, providing direction, guidance and selective technical support. During work on a project we again recommend the policy of aiming to attend one co-coding evening a week to maintain some momentum.
		<br> <br>
		For now it's time to check out Repl.it and get going with some Python :)
		<br> <br>
		Happy Coding!
	</p>
	

	
	<span style="float: right;">
		<%= link_to "GET STARTED", page_two_path, style: "margin-right: 4px;", id:"ask_tutor_link" %>
	</span>
	<!--
	<p> A quick intro to the Codegates Python course. I'll briefly talk about what we're going to cover, our approach to it and mention one or two learning tips based on our experience of teaching coding. </p>
	-->
</div>


