

<h3> Concise summary </h3>
<p> Normally to write programs you use a text editor, write stuff in a program file and instruct your computer to execute that piece of code. To circumvent having to set this up on your local machine, we're going to use Repl.it instead. Repl.it allows you to setup "development environments" in your browser that allow you to write and execute real code from within your Repl.it account. </p>

<h3> Additional Information </h3>
<p> Repl.it also has a function that we're going to use later, where your tutor can set exercises, you can write code in response to them and submissions will be forwarded to your tutor. This will be very useful and we'll see it soon. </p>

<h3> Exercise </h3>
<p> Go to Repl.it and create your own account. Play around a little
to fmailiarize yourself. And try to run the "Hello World" program for practice. </p>

<br> <br> <br>

<!--
<iframe width="760" height="415" src="https://www.youtube.com/embed/DI5XQRAfwJA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<br> <br>

<div style="font-size: 16px;"> 
	<span style="background-color: orange;"> 
		Built-in Functions - getting started with Python
	</span>

	<span style="float: right;">
		<%= link_to "BACK", page_two_path, style: "margin-right: 4px;" %>
		<%= link_to "NEXT", page_four_path, style: "margin-right: 4px;" %>
	</span>
</div>
-->


