
<iframe width="760" height="415" style="border: 3px #C3C3C3 solid;" src="https://www.youtube.com/embed/IVVenkPCCYs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<br> <br>

<div> 
	<span class="vid_title"> 
		3. Programming Languages
	</span>
	<span style="float: right;">
		<%= link_to "< BACK", page_five_path, class: "to_practice_btn" %> 
		<%= link_to "NEXT LESSON >", page_seven_path, class: "to_practice_btn" %>
	</span>
	<p class="vid_description"> In this lesson I'll talk a little bit about programming languages - what they actually are, how they work on the most general level and what actually happens when we run/execute any program.  </p>
</div>
