
<iframe width="760" height="415" style="border: 3px #C3C3C3 solid;" src="https://www.youtube.com/embed/dBU5iqVPe_Y" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<br> <br>

<div style="font-size: 16px;"> 
	<span style="font-weight: bold;"> 
		7. Case Study 1
	</span>
	<span style="float: right;">
		<!-- <%= link_to "ASK TUTOR", "#ask_tutor", id: "ask_tutor_link" %>
		<%= link_to "BACK", page_twelve_path, style: "margin-right: 4px;" %> -->
		<%= link_to "NEXT LESSON >", page_fourteen_path, style: "text-decoration: none; margin-right: 4px;" %>
	</span>
	<p style="margin-top: 18px;"> I'm going to write a piece of code to illustrate how as programmers our job is to combine the different "tools" that are given to us by our programming languge to create an overall program that "does" something. </p>
</div>
