
<!--
<h3 style="margin-top: 0px;"> Joining our "Classroom" on Repl.it </h3>
-->

<!--
<h3 style="margin-top: 0px;"> Practice - Built-in Functions </h3>
-->

<!--
<p>
	"Classrooms" are a feature of Repl.it that allows us to work on practice tasks. <br> <br>
	- <%= link_to "Click here to gain access to our classroom", "https://repl.it/classroom/invite/1ituUa1", target: "_blank" %> 
	<br> <br>
	- Click "Codegates Python" (bottom left) to get to our classroom  <br> <br>
	- You can then see the different "Assignments" <br> <br>
	- Click on the Assignment named "Practice - Built-in Functions" <br> <br>
	- Within each assignment all practice instructions are on the right hand side. You can write and run your code on the left.  <br> <br>
	- Once you're reasonably satisfied hit the "submit" button (top right) and your tutor will be able to review your code.
</p>
-->

<div style="margin-bottom: 30px;"> 
	<div style="margin-top: 0px; display: inline;"> 
		<span style="font-size: 18px; font-weight: bold;"> Practice Environment - Built-in Functions </span> 
	</div>
	
	<div style=" display: inline; float: right;">
		<%= link_to "NEXT LESSON >", page_six_path, style: "background-color: #DEDED4; padding: 4px 12px; text-decoration: none; margin-right: 4px; font-size: 15px; border: 2px solid lightgrey;" %>
	</div>
</div>

<div style="border: 2px solid lightgrey;">
	<iframe frameborder="0" width="100%" height="600px" src="https://repl.it/student_embed/assignment/3007925/1f0636da770ba2a4280f75341f0da1e2"></iframe>
</div>
<!--
	 and you can write your "answer code" on the left. You can run the code you write whenever and how often you like and submit it when you're satisfied with your "answer". The submission will then automaticaly be forwarded to your tutor.
	<br> <br>
	- As said, for the first assignment we're practicing Built-in Functions and the instructions can be found on the right hand side within the assignment. Have a go and submit your code when ready. Happy coding! <br> <br>
	NOTE: Don't feel like all your submissions need to be 100% correct and proper. You're not being graded, this is purely for practice, which is often messy, and our tutors are here to help, not judge.
-->

<!--
<p> 
The link below will lead you to a Repl.it "practice page". All practice tasks are described on the
right. You can write your "answer code" in the large box on the left. 

Submissions are automatically forwarded to your tutor.
</p>

<p>
	<%= link_to "Practice Tasks - Built-in Functions", page_four_path, style: "margin-right: 4px;" %>
</p>
-->


<!--
<p>
	1 Minute Explainer - How to do and submit exercises.
</p>
-->