
<h3 style="margin-top: 0px;"> Exercise </h3>
<p> Go to Repl.it and create your own account. Play around a little
to fmailiarize yourself. And try to run the "Hello World" program for practice. </p>

<p> All submission will automatically be forwarded to your tutor. </p>

<div style="font-size: 16px; margin-top: 26px;"> 
	<span style="float: right;">
		<%= link_to "BACK", page_thirteen_path, style: "margin-right: 4px;" %>
		<%= link_to "NEXT", page_fifteen_path, style: "margin-right: 4px;" %>
	</span>
</div>
<br>
