
<iframe width="760" height="415" style="border: 3px #C3C3C3 solid;" src="https://www.youtube.com/embed/DI5XQRAfwJA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<br> <br>

<div style="font-size: 16px;"> 
	<span style="background-color: orange; font-weight: bold;"> 
		2. Built-in Functions
	</span>
	<span style="float: right;">
		<%= link_to "ASK TUTOR", "#ask_tutor", id: "ask_tutor_link" %>
		<%= link_to "BACK", page_three_path, style: "margin-right: 4px;" %>
		<%= link_to "NEXT", page_five_path, style: "margin-right: 4px;" %>
	</span>
	<p style="margin-top: 18px;"> Built-in Functions are the first systematic part of the Python programming language that we're going to look at. This is us jumping into the world of coding. </p>
</div>
