
<iframe width="760" height="415" style="border: 3px #C3C3C3 solid;" src="https://www.youtube.com/embed/7xaR8XkK9Ro" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<br> <br>

<div style="font-size: 16px;"> 
	<span style="background-color: orange; font-weight: bold;"> 
		1. Intro to Codegates Course
	</span>
	<span style="float: right;">
		<a href="#ask_tutor" id="ask_tutor_link"> ASK TUTOR </a>
		<%= link_to "NEXT", page_two_path, style: "margin-right: 4px;" %>
	</span>
	<p> A quick intro to the Codegates Python course. I'll briefly talk about what we're going to cover, our approach to it and mention one or two learning tips based on our experience of teaching coding. </p>
</div>


