
<iframe width="760" height="415" style="border: 3px #C3C3C3 solid;" src="https://www.youtube.com/embed/-vLZ9humyp4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<br> <br>

<div style="font-size: 16px;"> 
	<span style="background-color: orange; font-weight: bold;"> 
		5. Strings & String-Functions
	</span>
	<span style="float: right;">
		<%= link_to "ASK TUTOR", "#ask_tutor", id: "ask_tutor_link" %>
		<%= link_to "BACK", page_six_path, style: "margin-right: 4px;" %>
		<%= link_to "NEXT", page_eight_path, style: "margin-right: 4px;" %>
	</span>
	<p style="margin-top: 18px;"> "Strings" are the second systematic part of Python that we're going to look at. It would be really hard to find any serious program that doesn't include strings. In that way strings are a central part of coding. </p>
</div>
