

<h3> Concise summary </h3>
<p> Go to Repl.it and create your own account. Play around a little
to fmailiarize yourself. And try to run the "Hello World" program for practice. </p>

<h3> Additional Information </h3>
<p> Go to Repl.it and create your own account. Play around a little
to fmailiarize yourself. And try to run the "Hello World" program for practice. </p>

<h3> Exercise </h3>
<p> Go to Repl.it and create your own account. Play around a little
to fmailiarize yourself. And try to run the "Hello World" program for practice. </p>

<br> <br> <br>

<!--
<iframe width="760" height="415" src="https://www.youtube.com/embed/DI5XQRAfwJA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<br> <br>

<div style="font-size: 16px;"> 
	<span style="background-color: orange;"> 
		Built-in Functions - getting started with Python
	</span>

	<span style="float: right;">
		<%= link_to "BACK", page_two_path, style: "margin-right: 4px;" %>
		<%= link_to "NEXT", page_four_path, style: "margin-right: 4px;" %>
	</span>
</div>
-->


