
<h3 style="margin-top: 0px;"> Practice - Variables </h3>

<p>
	- <%= link_to "Click here to go to our classroom", "https://repl.it/classroom/invite/1ituUa1", target: "_blank" %> 
	<br> <br>
	- Click "Codegates Python" (bottom left) to get to classroom <br> <br>
	- Click "Practice - Variables" to get to assignment <br> <br>
	- Submit once you're reasonably satisfied
</p>



<div style="font-size: 16px; margin-top: 26px;"> 
	<span style="float: right;">
		<%= link_to "BACK", page_seven_path, style: "margin-right: 4px;" %>
		<%= link_to "NEXT", page_nine_path, style: "margin-right: 4px;" %>
	</span>
</div>