
<iframe width="760" height="415" src="https://www.youtube.com/embed/dBU5iqVPe_Y" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<br> <br>

<div style="font-size: 16px;"> 
	<span style="background-color: orange; font-weight: bold;"> 
		1. Intro to Codegates Course
	</span>
	<span style="float: right;">
		<%= link_to "ASK TUTOR", page_two_path, style: "margin-right: 12px; background-color: #9CCA62" %>

		<%= link_to "NEXT", page_two_path, style: "margin-right: 4px;" %>
	</span>
	<p> A quick intro to the Codesgates Python course. What we're going to cover. Our approach to it and
	some quick tips for how to go about this. </p>
</div>


