
<iframe width="760" height="415" style="border: 3px #C3C3C3 solid;" src="https://www.youtube.com/embed/dBU5iqVPe_Y" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<br> <br>

<div> 
	<span class="vid_title"> 
		7. Case Study 1
	</span>
	<span style="float: right;">
		<%= link_to "< BACK", page_twelve_path, class: "to_practice_btn" %> 
		<%= link_to "NEXT LESSON >", page_fourteen_path, class: "to_practice_btn" %>
	</span>
	<p class="vid_description"> I'm going to write a piece of code to illustrate how as programmers our job is to combine the different "tools" that are given to us by our programming languge to create an overall program that "does" something. </p>
</div>
