
<iframe width="760" height="415" style="border: 3px #C3C3C3 solid;" src="https://www.youtube.com/embed/DI5XQRAfwJA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<br> <br>

<div> 
	<span class="vid_title"> 
		2. Built-in Functions
	</span>
	<span style="float: right;">
		<!-- <%= link_to "ASK TUTOR", "#ask_tutor", id: "ask_tutor_link" %> -->
		<%= link_to "< BACK", page_three_path, class: "to_practice_btn", style: "margin-right: 0px;" %> 
		<%= link_to "NEXT LESSON >", page_five_path, class: "to_practice_btn" %>
	</span>
	<p class="vid_description"> Built-in Functions are the first systematic part of the Python programming language that we're going to look at. This is us jumping into the world of coding. </p>
</div>
