
<h3 style="margin-top: 0px;"> Practice - Variables </h3>

<p> <%= link_to "Click here to get to the practice environment.", "https://repl.it/student/submissions/6114912", target: "_blank", class: "", style: "margin-left: 0px;" %> </p>

<!--
<p> 
Go to the Codegates "classroom" using the link below and choose the
"Practice 4" assignment. As usual all instructions are on the right side
and you can write your code on the left. Submit when you're reasonably satisfied. <br> Happy coding!
</p>

<p>
	<%= link_to "Go to Classroom", "https://repl.it/student/classrooms/101689", target: "_blank", style: "margin-right: 4px;" %>
</p>
-->

<div style="font-size: 16px; margin-top: 26px;"> 
	<span style="float: right;">
		<%= link_to "BACK", page_eleven_path, style: "margin-right: 4px;" %>
		<%= link_to "NEXT", page_thirteen_path, style: "margin-right: 4px;" %>
	</span>
</div>
