
<iframe width="760" height="415" style="border: 3px #C3C3C3 solid;" src="https://www.youtube.com/embed/kehRR5eIguI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<br> <br>

<div style="font-size: 16px;"> 
	<span style="font-weight: bold;"> 
		5. Comments
	</span>
	<span style="float: right;">
		<!-- <%= link_to "ASK TUTOR", "#ask_tutor", id: "ask_tutor_link" %>
		<%= link_to "BACK", page_eight_path, style: "margin-right: 4px;" %> -->
		<%= link_to "NEXT LESSON >", page_ten_path, style: "text-decoration: none; margin-right: 4px;" %>
	</span>
	<p style="margin-top: 18px;"> Comments are parts of a program that don't get executed when the program is run. As a communication tool however they are absolutely critical to the practice of writing code. </p>
</div>
