
<h3 style="margin-top: 0px;"> Practice - Repl.it </h3>
<p> 
	- Go to <%= link_to "Repl.it", "https://repl.it" %> and create an account of your own. <br> <br>
	- Play around a little within Repl.it to familiarize yourself. <br> <br>
	- Set up a Python environment in Repl and try to run the "Hello World" program in it for practice. 
</p>

<div style="font-size: 16px; margin-top: 26px;"> 
	<span style="float: right;">
		<%= link_to "BACK", page_two_path, style: "margin-right: 4px;" %>
		<%= link_to "NEXT", page_four_path, style: "margin-right: 4px;" %>
	</span>
</div>
<br>
