
<div style="width: 445px;">
	<h3 style="margin-top: 0px;"> Start Your Own Project </h3>
	<p>
		Congratulations! We assume that if you're here you've covered the essential basics of Python and worked on
		enough practice projects to feel reasonably comfortable with the process of working on code.
		<br> <br>

		<!--
		If all went well, you should by now have a baseline level of familiarity with Python's facilities
		and how to use these in the composition of useful programs.
		-->
		This means now comes the real work of programming - building something new that you actually want to build.
		<br> <br>

		<!--
		 Rather than just implementing programs that have been preconceived for you, 
		it's time to come up with something you actually want to code and have a go at it.
		-->

		If you're atttending online classes, we suggest you brainstorm different things
		that interest you and try to come up with something. You can then use the next class to discuss
		different thoughts and ideas with your tutor and figure out a good starting point for the project together.
		<br> <br>

		If you aren't attending classes, you can join one
        <%= link_to "here", "https://calendly.com/coding_classes/times", target: "_blank" %>
		and do the same.
		<br> <br>
		
		<!--
		Have a conversation with your tutor about what project to pick and how to get started and then get to work.
		<br> <br>
		`-->
		
		Happy Coding!
	</p>

	<div style="font-size: 16px; margin-top: 36px;"> 
		<span style="float: right;">
			<%= link_to "< BACK", practice_project_ten_path, class: "to_practice_btn" %>
		</span>
	</div>
</div>
