
<div style="width: 300px;">
	<h3 style="margin-top: 0px;"> 16. Real Project (Start) </h3>
	<p> 
		Go to <%= link_to "Repl.it", "https://repl.it" %> and create a free account of your own. Play around a little within Repl.it to familiarize yourself. <br> <br>
		Set up a Python environment in Repl.it and try to run the "Hello World" program shown in the previous lesson for practice. 
	</p>

	<div style="font-size: 16px; margin-top: 36px;"> 
		<span style="float: right;">
			<%= link_to "< BACK", practice_project_two_path, class: "to_practice_btn" %>
		</span>
	</div>
</div>
