
<div style="width: 445px;">
	<h3 style="margin-top: 0px;"> 19. Start Your Own Project! </h3>
	<p>
		Congratulations for coming this far!
		<br> <br>
		If all went well, you should by now have a baseline level of familiarity with Python's facilities
		and how to use these in the composition of useful programs.
		<br> <br>
		Now comes the real work of programming. Rather than just implementing programs that have been preconceived for you, 
		it's time to come up with something you actually want to code and have a go at it.
		<br> <br>
		Have a conversation with your tutor about what project to pick and how to get started and then get to work.
		<br> <br>
		Happy Coding!
	</p>

	<div style="font-size: 16px; margin-top: 36px;"> 
		<span style="float: right;">
			<%= link_to "< BACK", practice_project_ten_path, class: "to_practice_btn" %>
		</span>
	</div>
</div>
