
<div style="margin-bottom: 16px;"> 
	<div style="margin-top: 0px; display: inline;"> 
		<span style="font-size: 18px; font-weight: bold;"> Practice Environment - Lists </span> 
	</div>
</div>

<div>
	<iframe frameborder="0" width="100%" height="520px" src="https://repl.it/student_embed/assignment/3431333/b8d7e46e867ce744252097bf2d851b5d"></iframe>

	<span style="float: right; margin-top: 14px;">
		<%= link_to "< Back", lists_path, class: "to_practice_btn" %> 
		<%= link_to "Next Lesson >", if_statements_path, class: "to_practice_btn" %>
	</span>
</div>
