
<div style="width: 445px;">
	<h3 style="margin-top: 0px;"> 17. Project 4 - Twitter Analysis </h3>
	<p>
		<strong> Project </strong>
		<br> <br>
		1. In a new Repl, write a program that connects to Twitter and retrieves all the Tweets of a person that you're interested in.
		<br> <br>
		2. Extra - research what "sentiment analysis" is and how to do it using the TextBlob library. Then use TextBlob to do it on the previously retrieved Tweets.
		<br> <br>
		<strong> Tip: </strong> You will (as so often in coding) use a library to connect to Twitter in the first place. There are a few possible choices. Researching options, choosing one and figuring out how to use it is a normal part of coding (and an important skill).

		<br> <br> <br>
		<strong> General Advice </strong> 
		<br> <br>
		The first step in pretty much any coding project is to try to understand what you're trying to do
		on a general, structural level - What is the code supposed to do? What functionalities are required to make it happen? 
		<br> <br>
		Once you have a still rough, but somewhat formed idea, the next step is to try to figure out
		how to represent the functionalities needed in Python (or another language you may be using). 
		<br> <br>
		Thinking, googling and trial and error are the main
		ingredients to this process. In many ways coding something is a process of sassing things out, tinkering
		and adjusting as you go along.
	</p>

	<div style="font-size: 16px; margin-top: 36px;"> 
		<span style="float: right;">
			<%= link_to "< BACK", practice_project_three_path, class: "to_practice_btn" %> 
			<%= link_to "NEXT LESSON >", revision_two_path, style: "margin-right: 4px;", class: "to_practice_btn" %>
		</span>
	</div>
</div>
