
<div style="margin-bottom: 16px;"> 
	<div style="margin-top: 0px; display: inline;"> 
		<span style="font-size: 18px; font-weight: bold;"> Practice Environment - Dictionaries </span> 
	</div>
	
    <div style="position: absolute; right: 0px; top: 10px;">
	    <!-- <%= link_to "ASK A QUESTION", ask_tutor_path, class: "next_lesson_btn" %> -->
		<%= link_to "< BACK", dictionaries_path, class: "next_lesson_btn" %>
		<%= link_to "NEXT LESSON >", practice_project_one_path, class: "next_lesson_btn" %>
	</div>
</div>

<div class="practice_environ_ctn">
	<iframe frameborder="0" width="100%" height="600px" src="https://repl.it/student_embed/assignment/3433815/a9fba0752a2067e7313e27b65a4bf0df"></iframe>
</div>
