
<div style="width: 445px;">
	<h3 style="margin-top: 0px;"> 15. Project 2 - Password Generator </h3>
	<p> 
		This is our second Python practice project - helping us become more comfortable with the process of using Python's facilities to create a piece of code that actually does something useful.
		<br> <br>

		<strong> Project </strong> <br> <br> 
		1. Write a programme that generates a password composed of 15 randomly chosen characters each time it is run.
		<br> <br>

		2. Extend the programme to save the generated password in an external text file named passwords.txt (which you'll have to create).
		<br> <br>

		
		<strong> Start Guide </strong> <br> <br>
		1. In your Repl.it account create a new Python environment and give it a name appropriate for the project.
		<br> <br>
		2. Consider in relatively general terms what the programme will need to do on a structural level.
		<br> <br>
		3. Consider how you may represent the different structural parts of the programme using the Python concept you've learned.
		<br> <br>
		4. Have a genuine go and fail :)
		<br> <br>
		5. Attend class and talk to your tutor, who will help you out. 
		<br> <br>
		<strong> Tip: </strong> Using Google and other external resources is not just ok, but encouraged! In the real world looking things up is not cheating.		
	</p>

	<div style="font-size: 16px; margin-top: 36px;"> 
		<span style="float: right;">
			<%= link_to "< BACK", practice_project_one_path, class: "to_practice_btn" %> 
			<%= link_to "NEXT LESSON >", personal_project_path, style: "margin-right: 4px;", class: "to_practice_btn" %>
		</span>
	</div>
</div>
