
<div style="width: 445px;">
	<h3 style="margin-top: 0px;"> Project - Design a Library </h3>
	<p>
		1. Choose an existing library that you're interested in like the csv, random, datetime or requests library for instance
		and write code "on top of it". Meaning to write a few functions which underneath the hood map to the functions originally provided
		by the library. Your goal in this is to design the functions you write "on top" of the existing library so that
		they may be good/useful/convenient for other programmers (and/or yourself) to use in coding. In short, write a tiny library on top of an existing library you're interested in.
		<br> <br>
		<strong> Tip: </strong> Good question to ask: What did you yourself find tedious/annoying/hard-to-understand when you initially encounter the library and tried to use it. Is there a way to design that insight into your library.
		<br> <br>		
		<%= link_to "Some Advice", advice_path %>
	</p>

	<div style="font-size: 16px; margin-top: 36px;"> 
		<span style="float: right;">
			<%= link_to "< Back", practice_project_seven_path, class: "to_practice_btn" %> 
			<%= link_to "Next Lesson >", practice_project_nine_path, style: "margin-right: 4px;", class: "to_practice_btn" %>
		</span>
	</div>
</div>
