
<div style="width: 445px;">
	<h3 style="margin-top: 0px;"> Project - PDF Scanner </h3>
	<p>
		1. In a new Repl, upload 5 different PDF files of your choice. Then write a program
		that searches through these PDFs looking for a list of 5 keywords that you set.
		The search should then tell you in which files (if any) and on which lines in those files each respective keyword
		occurs.
		<br> <br>
		2. Extend the program so that you can dynamically set the 5 keywords each time the program is run.
		<br> <br>

		<strong> Tip: </strong> As so often the first step would be to research which library to
		use for this task of interacting with PDF files and then sass out the relevant bits (function calls etc)
		you need to know to write your code.
		<br> <br>
		<%= link_to "Some Advice", advice_path %>
	</p>

	<div style="font-size: 16px; margin-top: 36px;"> 
		<span style="float: right;">
			<%= link_to "< BACK", practice_project_four_path, class: "to_practice_btn" %> 
			<%= link_to "NEXT LESSON >", practice_project_six_path, style: "margin-right: 4px;", class: "to_practice_btn" %>
		</span>
	</div>
</div>
