
<div style="width: 445px;">
	<h3 style="margin-top: 0px;"> Project - Security with Nmap </h3>
	<p>
		If you're interested in security and the coding related to it: 
		<br> <br>
		1. Watch this Youtube tutorial about Nmap and the implementation of an Nmap scanner in Python and
		try to understand what Nmap is, what it does and why it's relevant: 
		<%= link_to "Developing An Nmap Scanner", "https://www.youtube.com/watch?v=1lh_SkY8cHk" %>
		<br> <br>
		2. Implement your own version of the code written in the tutorial in a new repl. Whilst writing the code, try to understand it and play around with it.
		<br> <br>
		3. If this is a topic that interests you, come up with your own project related to security and network scanning and get to work on it.
		<br> <br>
		<%= link_to "Some Advice", advice_path %>
	</p>

	<div style="font-size: 16px; margin-top: 36px;"> 
		<span style="float: right;">
			<%= link_to "< Back", practice_project_nine_path, class: "to_practice_btn" %>
			<!--
			<%= link_to "NEXT LESSON >", practice_project_three_path, style: "margin-right: 4px;", class: "to_practice_btn" %>
			-->
		</span>
	</div>
</div>
