
<div style="width: 445px;">
	<h3 style="margin-top: 0px;"> Project - Google Sheets & Search </h3>
	<p>
		1. Set up a new Google-Sheet in your Google-Drive and write a few search terms 
		of your choice in the first column.
		<br> <br>
		2. Figure out how to programmatically connect to the Google-Sheet using Python in a new repl.
		<br> <br>	
		3. Programmatically retrieve the search terms you set in the sheet and, also programmatically, conduct a Google search for each of these terms, displaying the top 10 results for each.
		<br> <br>
		<strong> Tip: </strong> Unlike the previous two projects this one heavily relies on using external
		libraries. Therefore the first task is to figure out which libraries these are and how to use them. Happy Coding!
		<br> <br>
		<%= link_to "Some Advice", advice_path %>
	</p>

	<div style="font-size: 16px; margin-top: 36px;"> 
		<span style="float: right;">
			<%= link_to "< Back", practice_project_eight_path, class: "to_practice_btn" %> 
			<%= link_to "Next Lesson >", practice_project_ten_path, style: "margin-right: 4px;", class: "to_practice_btn" %>
		</span>
	</div>
</div>
