
<div style="width: 445px;">
	<h3 style="margin-top: 0px;"> Project - Email Reminder App for Birthdays </h3>
	<p>
		1. In a new Repl, write a program within which you set the names and birthdays of five of your friends and which then checks whether today actually is the birthday of any of them. 
		<br> <br>
		2. Then extend the program to send yourself a Reminder via Email if it is.
		<br> <br>
		<%= link_to "Some Advice", advice_path %>
	</p>

	<div style="font-size: 16px; margin-top: 36px;"> 
		<span style="float: right;">
			<%= link_to "< Back", advice_path, class: "to_practice_btn" %> 
			<%= link_to "Next Lesson >", practice_project_two_path, style: "margin-right: 4px;", class: "to_practice_btn" %>
		</span>
	</div>
</div>
