
<div style="width: 445px;">
	<h3 style="margin-top: 0px;"> Project - Web Scraping - Basic </h3>
	<p>
		1. In a new Repl, write a program that connects to your favorite news-website
		and then retrieves the headlines of the articles that are currently on the site.
		<br> <br>
		<strong> Tip: </strong> As usual, the first step is to research which libraries are the relevant ones
		and how to use them. Then start to play around with code and try things. Trial and error is your friend.

		<br> <br>
		<%= link_to "Some Advice", advice_path %>
	</p>

	<div style="font-size: 16px; margin-top: 36px;"> 
		<span style="float: right;">
			<%= link_to "< BACK", practice_project_five_path, class: "to_practice_btn" %> 
			<%= link_to "NEXT LESSON >", practice_project_seven_path, style: "margin-right: 4px;", class: "to_practice_btn" %>
		</span>
	</div>
</div>
