
<div style="width: 445px;">
	<h3 style="margin-top: 0px;"> 15. Project 2 - Password Generator </h3>
	<p> 
		This is our second Python practice project - helping us become more comfortable with the process of using Python's facilities to create a piece of code that actually does something useful.
		<br> <br>

		<strong> Project </strong> <br> <br> 
		1. Write a program within which you set the names and birthdays of five of your friends and which then checks whether today is the birthday of any of them.
		<br> <br>

		2. Extend the programme to send yourself an Email reminder if it is the case.
		<br> <br>

		
		<strong> Start Guide </strong> <br> <br>
		1. In your Repl.it account create a new Python environment and give it a name appropriate for the project.
		<br> <br>
		2. Consider in relatively general terms what the programme will need to do on a structural level.
		<br> <br>
		3. Consider how you may represent these structural parts of the programme using the Python concept you've learned.
		<br> <br>
		4. Have a genuine go and fail :)
		<br> <br>
		5. Attend class and talk to your tutor, who will help you out. 
	</p>

	<div style="font-size: 16px; margin-top: 36px;"> 
		<span style="float: right;">
			<%= link_to "< BACK", practice_project_one_path, class: "to_practice_btn" %> 
			<%= link_to "NEXT LESSON >", personal_project_path, style: "margin-right: 4px;", class: "to_practice_btn" %>
		</span>
	</div>
</div>
