
<div style="width: 445px;">
	<h3 style="margin-top: 0px;"> Project - Sentiment Algorithm </h3>
	<p>
		1. In a new Repl, write a program that takes in any piece of text as its input and returns
		a "sentiment score" as its output. A "sentiment score" being a numerical indication/estimation of how
		positive or negative the text is in general terms.
		<br> <br>
		<strong> Tip: </strong> This is a more "pure" programming problem for which we're not, or at least
		not dominantly, going to use libraries to provide us with the needed functionalities. The first step is
		to consider the problem and frame what you're actually trying to do. Like Hilbert said: "a perfect formulation 
		of a problem is already half its solution."
		<br> <br>
		<%= link_to "Some Advice", advice_path %>
	</p>

	<div style="font-size: 16px; margin-top: 36px;"> 
		<span style="float: right;">
			<%= link_to "< BACK", practice_project_six_path, class: "to_practice_btn" %> 
			<%= link_to "NEXT LESSON >", practice_project_eight_path, style: "margin-right: 4px;", class: "to_practice_btn" %>
		</span>
	</div>
</div>
