
<div style="margin-bottom: 16px;"> 
	<div style="margin-top: 0px; display: inline;"> 
		<span style="font-size: 18px; font-weight: bold;"> Practice Environment - Comments </span> 
	</div>
</div>

<div>
	<iframe frameborder="0" width="100%" height="520px" src="https://repl.it/student_embed/assignment/3013845/3cd2969fa37c6b462a15999001351375"></iframe>

	<span style="float: right; margin-top: 14px;">
		<%= link_to "< Back", comments_path, class: "to_practice_btn" %> 
		<%= link_to "Next Lesson >", variables_path, class: "to_practice_btn" %>
	</span>
</div>
