
<div style="margin-bottom: 16px;"> 
	<div style="margin-top: 0px; display: inline;"> 
		<span style="font-size: 18px; font-weight: bold;"> Practice Environment - Strings </span> 
	</div>
</div>

<div>
	<iframe frameborder="0" width="100%" height="520px" src="https://repl.it/student_embed/assignment/3013727/c3134a73bf3f4104c59c9632d47a5a91"></iframe>

	<span style="float: right; margin-top: 14px;">
		<%= link_to "< Back", strings_path, class: "to_practice_btn" %> 
		<%= link_to "Next Lesson >", packages_preview_path, class: "to_practice_btn" %>
	</span>
</div>
