
<div style="width: 445px;">
	<h3 style="margin-top: 0px;"> Project - Tweet Extraction </h3>
	<p>
		1. In a new Repl, write a program that connects to Twitter and retrieves all the Tweets of a person that you're interested in.
		<br> <br>
		2. Extra - research what "sentiment analysis" is and how to do a basic version of it using the TextBlob library. Then use TextBlob to do it on the previously retrieved Tweets.
		<br> <br>
		<strong> Tip: </strong> You will, as so often in coding, use a library to help you do what you want to do. Which in this case is
		to connect and communicate with the Twitter API. There are a few possible choices. Researching such options, choosing one and figuring out how to use it is a normal part of coding and thus an important skill.
		<br> <br>
		<%= link_to "Some Advice", advice_path %>
	</p>

	<div style="font-size: 16px; margin-top: 36px;"> 
		<span style="float: right;">
			<%= link_to "< BACK", practice_project_three_path, class: "to_practice_btn" %> 
			<%= link_to "NEXT LESSON >", practice_project_five_path, style: "margin-right: 4px;", class: "to_practice_btn" %>
		</span>
	</div>
</div>
