
<div style="width: 300px;">
	<h3 style="margin-top: 0px;"> Practice </h3>
	<p> 
		Below is the link to the relveant practice Environment.
		Have a go at the exercises and submit them for feedback
		once you're satisfied using the green button in the top-right corner.
		<br> <br>
		<a href="https://repl.it/student/submissions/10044671"> Practice Environment on Repl.it </a>
	</p>

	<div style="font-size: 16px; margin-top: 36px;"> 
		<span style="float: right;">
			<%= link_to "< Back", for_loops_path, class: "to_practice_btn" %> 
			<%= link_to "Next Lesson >", dictionaries_path, style: "margin-right: 4px;", class: "to_practice_btn" %>
		</span>
	</div>
</div>

<!--
<div style="margin-bottom: 16px;"> 
	<div style="margin-top: 0px; display: inline;"> 
		<span style="font-size: 18px; font-weight: bold;"> Practice Environment - For-Loops </span> 
	</div>
	
    <div style="position: absolute; right: 0px; top: 10px;">
		<%= link_to "< Back", for_loops_path, class: "next_lesson_btn" %>
		<%= link_to "Next Lesson >", dictionaries_path, class: "next_lesson_btn" %>
	</div>
</div>

<div class="practice_environ_ctn">
	<iframe frameborder="0" width="100%" height="600px" src="https://repl.it/student_embed/assignment/3432423/3aac2bb3c60525145980286f9accf4d6"></iframe>
</div>
-->