
<div style="margin-bottom: 16px;"> 
	<div style="margin-top: 0px; display: inline;"> 
		<span style="font-size: 18px; font-weight: bold;"> Practice Environment - Built-in Functions </span> 
	</div>
	     
     <div style="position: absolute; right: 0px; top: 10px;">
	    <!-- <%= link_to "ASK A QUESTION", ask_tutor_path, class: "next_lesson_btn" %> -->
		<%= link_to "< Back", builtin_functions_path, class: "next_lesson_btn" %>
		<%= link_to "Next Lesson >", strings_path, class: "next_lesson_btn" %>
      </div>
</div>

<p>Link to exercises on Repl.it: </p>
<a href="https://repl.it/student/submissions/6796502"></a>


<!--
<div class="practice_environ_ctn">
	<p style="margin-top: 6px;"> 
		<span style="text-decoration: underline;">Note</span>:
		This is a Repl.it practice environment. You can see the practice tasks on the right, write and run your code on the left and use the submit button (top-right) to submit your code to our tutors. If you're having trouble, try reloading the page and make sure you're logged into your own <a href="https://repl.it">Repl.it</a> account.
	</p>

	<iframe frameborder="0" width="100%" height="600px" src="https://repl.it/student_embed/assignment/3007925/1f0636da770ba2a4280f75341f0da1e2"></iframe>
</div>
-->