
<div style="width: 445px;">
	<h3 style="margin-top: 0px;"> Project - Book Analysis </h3>
	<p>
		1. In a new Repl, write a program that reads in all text from "Lord of the Rings: The Return of the King", calculates how many words are in the book overall and respectively counts how often the individual words "Mordor", "Frodo" and "Ring" appear in it.
		<br> <br>
		2. Extra - Figure out how to split the book's entire text into it's individual sentences using the NLTK library.
		<br> <br>
		<strong> Tip: </strong> You will need to find a version of "The Return of the King" online, put it into it's own file in your Repl and figure out how to read the contents of that file into your Python main program.
		<br> <br>
		<%= link_to "Some Advice", advice_path %>
	</p>

	<div style="font-size: 16px; margin-top: 36px;"> 
		<span style="float: right;">
			<%= link_to "< Back", practice_project_two_path, class: "to_practice_btn" %> 
			<%= link_to "Next Lesson >", practice_project_four_path, style: "margin-right: 4px;", class: "to_practice_btn" %>
		</span>
	</div>
</div>
