
<iframe width="760" height="415" style="border: 3px #C3C3C3 solid;" src="https://www.youtube.com/embed/VApATaJYyxE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<br> <br>

<div> 
	<span class="vid_title"> 
		1. Repl.it
	</span>
	<span style="float: right;">
		<%= link_to "< BACK", intro_path, class:"to_practice_btn" %>
		<%= link_to "NEXT LESSON >", practice_repl_it_path, class: "to_practice_btn" %>
	</span>
	<p class="vid_description"> In this lesson we're going to look at Repl.it - our place for writing and playing with code. Repl.it will be an easy starting point, but also has everything that you'll ultimately need to work on "real" coding projects. </p>
</div>
