
<div style="width: 445px;">
	<h3 style="margin-top: 0px;"> 18. Revision </h3>
	<p>
		...
	</p>

	<div style="font-size: 16px; margin-top: 36px;"> 
		<span style="float: right;">
			<%= link_to "< BACK", practice_project_four_path, class: "to_practice_btn" %> 
			<%= link_to "NEXT LESSON >", personal_project_path, style: "margin-right: 4px;", class: "to_practice_btn" %>
		</span>
	</div>
</div>
