
<div style="width: 445px;">
	<h3 style="margin-top: 0px;"> 15. Revision </h3>
	<p>
		To grow genuinely comfortable with the concepts commonly used in programming, it is often
		necessary to refresh them in one's mind from time to time until they've become almost intuitive.
		<br> <br>
		Go through the pieces of code in the Repl below, reading closely and taking note if you don't fully understand something
		or aren't quiet comfortable with something so you can ask in the next class.
		<br> <br>
		Repl: <%= link_to "Overview of Python Concepts", "https://repl.it/@JohannesSeikows/pythoncheatsheet", target: "_blank" %> 
	</p>

	<div style="font-size: 16px; margin-top: 36px;"> 
		<span style="float: right;">
			<%= link_to "< BACK", practice_project_two_path, class: "to_practice_btn" %> 
			<%= link_to "NEXT LESSON >", practice_project_three_path, style: "margin-right: 4px;", class: "to_practice_btn" %>
		</span>
	</div>
</div>
